### Q1) Write a function to multiply all the numbers in a list.

In [1]:
def multiplyList(myList) :
    result = 1
    for x in myList:
         result = result * x
    return result

list1 = [3, 2, 4]
print(multiplyList(list1))

24

In [2]:
from functools import reduce
list1 = [3, 2, 4]
 
result1 = reduce((lambda x, y: x * y), list1)
print(result1)

24

### Q2) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [3]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 4
24

### Q3) Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

In [7]:
def up_low(s):
    uppers = 0
    lowers = 0
    for char in s:
        if char.islower():
              lowers += 1
        elif char.isupper():
              uppers +=1
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", uppers)
    print ("No. of Lower case Characters : ", lowers)

up_low("Hello Mr. Rogers, how are you this fine Tuesday?")

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case Characters :  33

### Q4) Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [10]:
def unique_list(l):
    x = []
    for a in l:
        if a not in x:
            x.append(a)
    return x

print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [17]:
def unique(list1):
    list_set = set(list1)
    for x in list_set:
        print (x),

list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from list is")
unique(list1)

the unique values from list is
40
10
20
30

### Q5) Write a Python program to print the even numbers from a given list.

In [18]:
list1 = [10, 21, 4, 45, 66, 93]

for num in list1:
      
    if num % 2 == 0:
        print(num, end = " ")

10 4 66

In [19]:
list1 = [10, 21, 4, 45, 66, 93, 11] 

even_nos = list(filter(lambda x: (x % 2 == 0), list1))
  
print("Even numbers in the list: ", even_nos)

Even numbers in the list:  [10, 4, 66]

### Q6) Write a function to remove all duplicates from a given string.

In [22]:
def removeDuplicate(str):
    s=set(str)
    s="".join(s)
    print(s)
      
str="geeksforgeeks"
removeDuplicate(str)

rosegkf