In [2]:
import pandas as pd

In [3]:

# Load and view first few lines of dataset
df = pd.read_csv('C:\\Users\\YashnaBehera\\Downloads\\admission_data.csv')
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_id  500 non-null    int64
 1   gender      500 non-null    object
 2   major       500 non-null    object
 3   admitted    500 non-null    bool
dtypes: bool(1), int64(1), object(2)
memory usage: 12.3+ KB

In [6]:
df["admitted"] = df["admitted"].astype("int")
df["admitted"]

0      0
1      1
2      0
3      1
4      1
      ..
495    0
496    1
497    1
498    1
499    0
Name: admitted, Length: 500, dtype: int32

### 1. Find out the following :-
* Proportion and admission rate for each gender.
* Proportion and admission rate for physics majors of each gender.
* Proportion and admission rate for chemistry majors of each gender.
* Admission rate for each major.

In [17]:
admission_propotion=df.groupby(["gender"]).apply(lambda x : pd.Series({"count": x.gender.count(),"proportions":x.admitted.sum()}))
admission_propotion["admission_rate"] = admission_propotion['proportions']/(admission_propotion['count'])
# admission_propotion["gender_proportion"] = admission_propotion['count']/500
admission_propotion

        count  proportions  admission_rate
gender
female    257           74        0.287938
male      243          118        0.485597

In [8]:
phy= df[df["major"].isin(["Physics"])]
phy_proportion= phy.groupby(["gender"]).apply(lambda x : pd.Series({"count": x.gender.count(),"proportions":x.admitted.sum()}))
phy_proportion["admission_rate"] = (phy_proportion['proportions']/(phy_proportion['count']))
phy_proportion

        count  proportions  admission_rate
gender
female     31           23        0.741935
male      225          116        0.515556

In [9]:
chem= df[df["major"].isin(["Chemistry"])]
chem_proportion= chem.groupby(["gender"]).apply(lambda x : pd.Series({"count": x.gender.count(),"proportions":x.admitted.sum()}))
chem_proportion["admission_rate"] = (chem_proportion['proportions']/(chem_proportion['count']))
chem_proportion

        count  proportions  admission_rate
gender
female    226           51        0.225664
male       18            2        0.111111

### 2. What proportion of female students are majoring in physics?

In [10]:
## Your code here
fem_phy=len(df[(df['major'] == "Physics") & (df['gender'] == 'female')])/len(df[(df['gender'] == "female")])
fem_phy

0.12062256809338522

### 3. What proportion of male students are majoring in physics?

In [31]:
## Your code here
mal_phy=len(df[(df['major'] == "Physics") & (df['gender'] == 'male')])/len(df[(df['major'] == "Physics")])
mal_phy

0.87890625

### 4. What is the admission rate for female physics majors?

In [46]:
## Your code here

fem_phy=df[(df['major'] == "Physics") & (df['gender'] == 'female') & (df['admitted'] == 1)]
a=fem_phy.admitted.sum()
b=len(df[(df['major'] == "Physics") & (df['gender'] == 'female')])
fem_phy_adm=a/b
fem_phy_adm

0.7419354838709677

### 5. What is the admission rate for male physics majors?

In [47]:
## Your code here
mal_phy=df[(df['major'] == "Physics") & (df['gender'] == 'male') & (df['admitted'] == 1)]
a=mal_phy.admitted.sum()
b=len(df[(df['major'] == "Physics") & (df['gender'] == 'male')])
mal_phy_adm=a/b
mal_phy_adm

0.5155555555555555

### 6. What is the Proportion and admission rate for chemistry majors of each gender¶

In [48]:
## Your code here
chem= df[df["major"].isin(["Chemistry"])]
chem_proportion= chem.groupby(["gender"]).apply(lambda x : pd.Series({"count": x.gender.count(),"proportions":x.admitted.sum()}))
chem_proportion["admission_rate"] = (chem_proportion['proportions']/(chem_proportion['count']))
chem_proportion

        count  proportions  admission_rate
gender
female    226           51        0.225664
male       18            2        0.111111

### 7. What is the total Admission rate for each major?

In [51]:
## Your code here
admission_rate=df.groupby(["major"]).apply(lambda x : pd.Series({"count": x.major.count(),"proportions":x.admitted.sum()}))
admission_rate["admission_rate"] = admission_rate['proportions']/(admission_rate['count'])
# admission_propotion["gender_proportion"] = admission_propotion['count']/500
admission_rate

           count  proportions  admission_rate
major
Chemistry    244           53        0.217213
Physics      256          139        0.542969